<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="ApplyContractMapper">
	
	<select id="selectAll" resultType="com.mju.spring.dto.contractTeam.Underwriting.ApplyContractDto">
		select * from ApplyContract
	</select>
	<select id="create">
			INSERT INTO ApplyContract(contractID, customerID, customerName, customerPhoneNum, insuranceID, insuranceName, paymentCycle, insuranceFee, securityFee, period) VALUES (#{contractID}, #{customerID}, #{customerName}, #{customerPhoneNum}, #{insuranceID}, #{insuranceName}, #{paymentCycle}, #{insuranceFee}, #{securityFee}, #{period})
		</select>
	<delete id="delete">
		DELETE FROM ApplyContract WHERE contractID = #{contractID}
	</delete>
</mapper>

