<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="ContractAccidentMapper">
	<insert id="insertContractAccident">
		INSERT INTO ContractAccident VALUES(#{contractID}, #{accidentID})
	</insert>
	
	<select id="selectContractManagementAccident" resultType="com.mju.spring.dto.contractTeam.contractManagement.ContractManagementAccidentDto">
		SELECT contractID, accidentID from
		ContractAccident where contractID = #{contractID}
	</select>
	
</mapper>