<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

	<mapper namespace="GeneralRateMapper">
		<!--  SELECT -->
		<insert id="create">
				INSERT INTO GeneralRate(insuranceID, insuranceRank, generalPremiumRate) VALUES (#{insuranceID}, 1, #{premiumRate[0]}), (#{insuranceID}, 2, #{premiumRate[1]}), (#{insuranceID}, 3, #{premiumRate[2]})
		</insert>
		<select id="selectGeneralRate" resultType="double">
			SELECT generalPremiumRate from GeneralRate where insuranceID = #{insuranceID}
		</select>
	</mapper>