<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

	<mapper namespace="RenewContractMapper">
		
		<insert id="insertRenewContract">
			INSERT INTO renewContract(contractID, customerID, insuranceID, paymentCycle, insuranceFee, securityFee, period) VALUES
			(#{contractID}, #{customerID}, #{insuranceID}, #{paymentCycle}, #{insuranceFee}, #{securityFee}, #{period})
		</insert>
		<select id="selectAll" resultType="com.mju.spring.dto.contractTeam.Underwriting.RenewContractDto">
			select * from RenewContract
		</select>
		<delete id="deleteRenew">
			DELETE FROM RenewContract WHERE contractID = #{contractID}
		</delete>
	</mapper>
